uvicorn[standard]
#hypercorn
fastapi
asyncio
pyyaml
python-dateutil
websockets
pytest
C:/Users/braya/Documents/apps/freyaalpha/fa-models
#fa-models
# in the future work with groups: fa-models[dev] to include the optional packages.
pulsar-client[avro]
